* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header, .footer {
    background-color: #ff99ba;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.nav {
    display: none;
}

.nav ul {
    list-style-type: none;
}

    .nav ul li {
        margin: 10px 0;
    }

        .nav ul li a {
            color: white;
            text-decoration: none;
        }

.sidebar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ff99ba;
    color: white;
    padding: 20px;
}

    .sidebar ul {
        list-style-type: none;
    }

        .sidebar ul li {
            margin: 10px 0;
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
            }

.menu-toggle {
    display: inline-block; 
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-container {
    order: 1; 
}

.links-container{
    order: 2
}

.form-container {
    order: 3;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f9f9f9;
}

.alert {
    color: red;
    display: none;
}

input:invalid ~ .alert {
    display: block; 
}

@media (min-width: 768px) {
    
    #menu-toggle:checked + .menu-icon {
        display: none;
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

        .nav ul li {
            margin: 0 15px;
        }

    .sidebar {
        display: none; 
    }

    .table-container, .form-container {
        flex: 1;
        margin: 10px;
    }
    .table-container {
        order: 1; 
    }

    .links-container {
        order: 2; 
    }

    .form-container{
        order: 3;
    }
}


