* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.logo {
    width: 40px;
    float: left;
    bottom: 840px;
    left: 10px;
}

.header, .footer {
    background-color: #ff99ba;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style-type: none;
    padding: 0;
}

    .menu li {
        margin: 5px 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
    }



.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-container {
    order: 1; 
}

.links-container{
    order: 2
}

.form-container {
    order: 3;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f9f9f9;
}

.alert {
    color: red;
    display: none;
}

input:invalid ~ .alert {
    display: block; 
}

@media (min-width: 768px) {

    .content {
        flex-direction: column;
        justify-content: space-between;
    }

    .nav {
        flex-direction: row;
        justify-content: flex-end;
    }

    .menu li {
        margin-left: 20px;
    }


    .table-container, .form-container {
        flex: 1;
        margin: 10px;
    }

    .table-container {
        order: 1; 
    }

    .links-container {
        order: 2; 
    }

    .form-container{
        order: 3;
    }
}

.warning {
    color: red;
}


