body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

#header {
    background-color: #ff9baa;
    padding: 10px;
}

.logo {
    width: 120px;
    float: left;
    bottom: 840px;
    left: 10px;
}

nav {
    display: flex;
    flex-direction: column;
}

    nav a {
        padding: 10px;
        text-decoration: none;
        color: white;
    }

        nav a:hover {
            background-color: #ff9baa;
        }

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content {
    margin-bottom: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

thead th {
    background-color: #ff9baa;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f9f9f9;
}

#footer {
    background-color: #ff9baa;
    text-align: center;
    padding: 10px;
}
@media (min-width: 768px) {
    nav {
        flex-direction: row; 
    }

        nav a {
            margin-right: 15px; 
        }
    .content {
        order: 1; 
        width: 60%; 
    }

    .links {
        order: 2; 
        width: 35%; 
    }
}
